@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.company-info {
    font-weight: bold;
}

.company-name {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.company-address {
    font-size: 12px;
    font-weight: normal;
}

.client-info {
    text-align: right;
    font-size: 12px;
}

.client-name {
    font-weight: bold;
}

.event-info {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.event-name {
    font-weight: bold;
}

.invoice-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    padding: 10px 5px;
    text-align: left;
}

th {
    border-bottom: 1px solid #ddd;
}

td {
    border-bottom: 1px solid #eee;
}

tr:last-child td {
    border-bottom: 1px solid #ddd;
}

.text-right {
    text-align: right;
}

.total-row {
    text-align: right;
    margin: 20px 0;
    font-weight: bold;
}

.total-line {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.thank-you {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.button-container {
    margin-top: 20px;
    text-align: center;
}
button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
}
button:hover {
    background: #0056b3;
}

a {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
}
a:hover {
    background: #0056b3;
}